<div >
  <% @address.each do |add| %>
  <p>
    <strong>User:</strong>
    <%= add.user_id %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= add.street %>
  </p>

  <p>
    <strong>Barangay:</strong>
    <%= add.barangay %>
  </p>

  <p>
    <strong>City:</strong>
    <%= add.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= add.postal_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= add.country %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= add.phone_number %>
  </p>
<% end %>
</div>
