<h1>Shops#index</h1>
<p>Find me in app/views/shops/index.html.erb</p>
<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", shop_path(product) %>
    </p>

    <p>
    <%= form_for @order_item, { "data-type" => "script" } do |f| %>
      <%= f.hidden_field :product_id, :value => product.id %>
      <%= f.number_field :quantity, :value => 1, :min => 1 %>
      <%= f.submit "Add to Cart" %>
    <% end %>
    </p>
  <% end %> 
</div>

<div id="card">
  <%= render 'cards/card' %>
  <%# <%= link_to "test",  cards_path, "data-action": "count#convert" %>
</div>