<%= form_with(model: user, local: true, class:"profile-form") do |form| %>
  
  <div class="container">
    <div class="fields">
      <div class="field-username">
        <%= form.label :username, class:"label-username" %>
        <%= form.text_field :username, class:"input-username" %>
      </div>

      <div class="field-first">
        <%= form.label :first_name, class:"label-first" %>
        <%= form.text_field :first_name, class:"input-first" %>
      </div>

      <div class="field-last">
        <%= form.label :last_name, class:"label-last" %>
        <%= form.text_field :last_name, class:"input-last" %>
      </div>
    </div>
    <div class="image-container">
      <% if current_user.avatar? %>
        <%= form.label :avatar do %>
          <%= image_tag(current_user.avatar.to_s)%>
          <span class="material-symbols-sharp">
            add_a_photo
          </span>
        <% end %>
        <%= form.file_field :avatar, direct_upload: true %>
      <% elsif current_user.google_avatar? %>
        <%= form.label :avatar do %>
          <%= image_tag(current_user.google_avatar.to_s) %>
          <span class="material-symbols-sharp">
            add_a_photo
          </span>
        <% end %>
        <%= form.file_field :avatar, direct_upload: true %>
      <% else %>
        <%= form.label :avatar do %>
          <%= image_tag("profile.png")%>
          <span class="material-symbols-sharp">
            add_a_photo
          </span>
        <% end %>
        <%= form.file_field :avatar, direct_upload: true %>
      <% end %>
    </div>
  </div>

  <div class="field-email">
    <%= form.label :email, class:"label-email" %>
    <%= form.text_field :email, class:"input-email", disabled:"true" %>
  </div>


  <div class="field-bio">
    <%= form.label :bio, class:"label-bio" %>
    <%= form.text_area :bio, class:"input-bio" %>
    <h5>Do not exceed 100 characters when entering the bio.</h5>
  </div>

  <div class="actions">
    <%= form.button "Save Information", class:"field-save", data: {turbo: false, disable_with: "<i class='fa-solid fa-spinner fast-spin'></i>"} %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete , class:"field-logout"%>
  </div>
<% end %>
