.footer
  .details
    .customer-service
      .title
        CUSTOMER SERVICE
      .contents
        = link_to 'Help Centre'
        = link_to 'Payment Methods'
        = link_to 'Bukid Coins'
        = link_to 'Order Tracking'
        = link_to 'Free Shipping'
        = link_to 'Return & Refund'
        = link_to 'Report Seller'
        = link_to 'Contact Us'
    .about-bukid
      .title
        ABOUT BUKID
      .contents
        = link_to 'About Us'
        = link_to 'Bukid Blogs'
        = link_to 'Bukid Careers'
        = link_to 'Bukid Mall'
        = link_to 'Seller Centre'
        = link_to 'Flash Deals'
        = link_to 'Media Contact'
    .payment
      .title
        PAYMENT
      .contents
        = link_to 'Payment'
    .follow-us
      .title
        FOLLOW US
      .contents
        .facebook
          %i.fa-brands.fa-facebook
          = link_to 'Facebook'
        .instagram
          %i.fa-brands.fa-square-instagram
          = link_to 'Instagram'
        .twitter
          %i.fa-brands.fa-twitter
          = link_to 'Twitter'
        .linkedin
          %i.fa-brands.fa-linkedin
          = link_to 'LinkedIn'
    .bukid-app-download
      .title
        BUKID APP DOWNLOAD
  .copyright
    ©️ 2022 BukidMarkets. All Rights Reserved.