.nav
  .header
    %a{:href => "/"}
      %img.image{:src => 'https://res.cloudinary.com/bukidmarkets/image/upload/v1664814046/GROWING_3_me4o03.png'}
      - if (request.path == '/sign_in' || request.path == '/users/sign_in')
        %span.login
          Log In
      - elsif (request.path == '/profile')
        %span.profile
          Profile
      - elsif (request.path == '/sign_up' || request.path == '/users')
        %span.profile
          Register
      - elsif (request.path == '/favorites')
        %span.profile
          Favorites
      - elsif (request.path == '/seller')
        %span.profile
          Seller Centre
      - elsif (request.path == '/products/new')
        %span.profile
          Add Product
      - elsif (request.path == '/products')
        %span.profile
          Products
      - elsif (request.path == '/address')
        %span.profile
          Address
    - if (request.path == '/')
      .search
        %select#drop-down{:name => "drop-down"}
          %option{:value => "0"} All Categories
          - if @categories
            - @categories.collect do |cat|
              %option{:value => cat.id }
                = cat.name
        %input.input{:placeholder => "I'm searching for.."}
        %span.material-symbols-sharp
          search
    .user
      - if current_user
        - if current_user.role == "buyer"
          = link_to "Become a Seller", seller_index_path
        
      %a.favorite{:href => "favorites"}
        %span.material-symbols-sharp
          favorite
        .fav
          
      - if current_user
        - if current_user.avatar?
          %a.profile{:href => "/profile"}
            .user-image
              = image_tag(current_user.avatar.to_s)
        - elsif current_user.google_avatar?
          %a.profile{:href => "/profile"}  
            .user-image
              = image_tag(current_user.google_avatar.to_s)
        - else
          %a.profile{:href => "/profile"}
            %span.material-symbols-sharp
              person
      - else
        = link_to "Log In", sign_in_path