= render 'category'

.home
  - @products.each do |product|
    .card
      = product.title
      = product.description
      = "$#{product.price}"
      %br


= link_to "Products", products_path
= render 'footer'