= render 'category'

.home
  .cover-image
    = image_tag("cover1.jpg", class:"image")
    .cover
    .cover-details
      %span
        Wholesale Suppliers
      .mini-sub
        High quality at Low prices, Fresh from Farm
      = link_to "Shop Now", "#products"
  .sub-title
    %h1
      Recently Listed
  .products#products
    - @products.each do |product|
      .card
        .image
          = image_tag(product.thumbnail.to_s)
        .details
          .title
            = product.title
            %span
              = User.find(product.user_id).username
          .location
            %span.material-symbols-sharp
              location_on
            #{User.find(product.user_id).address.city}, #{User.find(product.user_id).address.country}
          .inquire
            = link_to "Inquire Now", product
            = "₱#{product.price} / kilo"
        .favorite
          %i.fa-regular.fa-heart
        .share
          %i.fa-solid.fa-arrow-up-from-bracket