%div{id: "#{dom_id address}"}
  %p
    %strong Street:
    = address.street
  %p
    %strong Barangay:
    = address.barangay
  %p
    %strong City:
    = address.city
  %p
    %strong Postal code:
    = address.postal_code
  %p
    %strong Country:
    = address.country
  %p
    %strong Phone number:
    = address.phone_number
