<div id="<%= dom_id address %>">
  <p>
    <strong>User:</strong>
    <%= address.user_id %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Barangay:</strong>
    <%= address.barangay %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= address.phone_number %>
  </p>

</div>
