.address-display
  - if notice != nil
    %p.notice= notice
  -@user.errors.each do |error|
    .error= error.full_message
  .address
    .address-nav
      = link_to "Profile", profile_path
      = link_to "Address", address_path
      = link_to "Products", products_path
    .address-edit
      = render 'form', address: @address