<div class="products-new">
  <%= form_with(model: product, class:"form-product") do |form| %>
    <% if product.errors.any? %>
      <div class="error">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %> 
        </ul>
      </div>
    <% end %>

    <div class="product-name">
      <%= form.label :Product_Name, class: "label-title" do %>
        Product Name
      <% end %>
      <%= form.text_field :title, class:"input-title", autocomplete:"off" %>
      <h5>Do not exceed 10 characters when entering the product name.</h5>
    </div>

    <div class="price-category">
    <div class="product-category">
        <%= form.label :category, class: "label-category" do %>
          Category <i class="fa-solid fa-circle-info"></i>
        <% end %>
        <%= form.select :category_id, options_for_select(@categories.collect { |category|  [category.name, category.id] }) , class:"input-category"%>
        <h5>Choose between the categories.</h5>
      </div>
      <div class="product-price">
        <%= form.label :Price, class: "label-price" %>
        <div class="price-container">
          <%= form.number_field :price, class:"input-price", autocomplete:"off" %>
          <h4>₱</h4>
        </div>
        <h5>Price per kilo in PHP.</h5>
      </div>
    </div>

    <div class="product-description">
      <%= form.label :Description, class: "label-description" do %>
        Description <i class="fa-solid fa-circle-info"></i>
      <% end %>
      <%= form.rich_text_area :description, class:"input-description", autocomplete:"off" %>
    </div>

    <div class="product-thumbnail">
      <%= form.label :thumbnail, class: "label-thumbnail" %>
      <%= form.file_field :thumbnail, direct_upload: true, class:"input-thumbnail" %>
    </div>

    <div class="add-back">
      <%= form.button "Add Product", class: "product-submit", data: {turbo: false, disable_with: "<i class='fa-solid fa-spinner fast-spin'></i>"} do %>
        <% if request.path == "/products/new" %>
          Add Product
        <% else %>
          Update
        <% end %>
      <% end %>

      <%= link_to "Back", seller_index_path %>
    </div>
  <% end %>
</div>