<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Product_Title, class: "label-title" %>
    <%= form.text_field :title, class:"input-title" %>
  </div>

  <div>
    <%= form.label :Price, class: "label-price" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :Description, class: "label-description" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :thumbnail, class: "label-thumbnail" %>
    <%= form.file_field :thumbnail, direct_upload: true %>
  </div>

  <div>
    <%= form.label :category, class: "label-category" %>
    <%= form.select :category_id, options_for_select(@categories.collect { |category|  [category.name, category.id] }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
