<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

   <p>
    <strong>Picture:</strong>
    <% product.pictures.each do |picture| %>
      <%= image_tag(picture, class: "image") %>
    <% end %>
  </p>



</div>
