<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
    Per Kilo
  </p>
  <p>
    <strong>Category:</strong>
    <%= product.category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= User.find(product.user_id).address.phone_number %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= User.find(product.user_id).username %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= User.find(product.user_id).address.city %>,
    <%= User.find(product.user_id).address.country %>
  </p>

  
</div>
