!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bukid Markets
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %link{href: "/logo.png", rel: "icon", type: "image/x-icon"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{href: "https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0", rel: "stylesheet"}/
    %script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/36a7a715d0.js"}
  %body
    = render 'home/nav'
    = yield
    = render 'home/footer'
